<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'custom', :media=> 'screen' %>

  <%= javascript_include_tag "prototype" %>
  <script>
      function body_load(){
          if(typeof init == "function") {
              init();
          }
      }
  </script>
</head>
<body onload="body_load()">
<div class="container">
  <h1>Sudoku</h1>
 <header>
   <nav class="round">
     <ul>
       <li><%= link_to "Home", "/sudokus"  %></li> |
       <!--<li><%= link_to "Start Random Puzzle", "#"  %></li> |-->
       <li><%= link_to "Create A Puzzle", "/sudokus/new"  %></li>
     </ul>
   </nav>
   <section class="round">
     <%= yield %>
   </section>
 </header>

</div>
</body>
</html>
